h1 {
  text-decoration: underline;
}
#ui-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  color: white;
}

#yt-box {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 60%;
  display: none;
  background: black;
  z-index: 20;
}

#yt-frame {
  width: 100%;
  height: 100%;
}
